<button (click)="isShowContent = !isShowContent">click</button>
<h1 *ngIf="isShowContent">Hello I am Paper</h1>

<!-- <a [routerLink]="[5]" [queryParams]="{age : 11}" [fragment]="'dada1'"><img src="../../../../../assets/images/1.jpg" alt=""></a>
<a [routerLink]="[6]" [queryParams]="{age : 12}" [fragment]="'dada2'">
  <img src="../../../../../assets/images/2.jpg" alt="">
</a>
<a [routerLink]="[7]" [queryParams]="{age : 13}" [fragment]="'dada3'">
  <img src="../../../../../assets/images/3.jpg" alt="">
</a> -->


<a [routerLink]="[5]" ><img src="../../../../../assets/images/1.jpg" alt=""></a>
<a [routerLink]="[6]" >
  <img src="../../../../../assets/images/2.jpg" alt="">
</a>
<a [routerLink]="[7]" >
  <img src="../../../../../assets/images/3.jpg" alt="">
</a>

